django
djangorestframework
pysocks
pygments
asgiref
certifi
charset-normalizer
colorama
defusedxml
httpie
idna
pip
pytz
requests
requests-toolbelt
setuptools
sqlparse
tzdata
urllib3
wheel
django-authtools
psycopg2-binary==2.9.1
gunicorn==20.1.0
dj-rest-auth
djangorestframework-simplejwt
django-filter
django-cors-headers
drf-yasg